<div layout="row" layout-align="end end">
  <md-button aria-label="Grid" class="md-icon-button" ng-click="pageView = view('grid')" ng-disabled="pageView">
    <md-tooltip md-direction="bottom" md-visible="tooltipVisible">Grade</md-tooltip>
    <ng-md-icon icon="view_module"></ng-md-icon>
  </md-button>
  <md-button aria-label="List" class="md-icon-button" ng-click="pageView = view('list')" ng-disabled="!pageView">
    <md-tooltip md-direction="bottom" md-visible="tooltipVisible">Lista</md-tooltip>
    <ng-md-icon icon="view_list"></ng-md-icon>
  </md-button>
</div>

<div flex layout="column" layout-fill ng-show="isEmpty.doenca" ng-cloak>
  <md-card layout-align="center center">
        <md-card-title>
          <md-card-title-text layout-align="center center">
            <ng-md-icon class="container-md-icon" icon="warning" size="48" style="fill: #F44336"></ng-md-icon>
            <span class="md-headline">Ops! Ocorreu um erro</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-align="center center">
          <p>
            Não há doenças cadastradas no banco de dados.
          </p>
          <p>
            Você pode cadastrar novas doenças clicando no botão abaixo.
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-padding layout-align="center top">
          <md-button class="erro-button md-raised" ui-sref="app.cadastro.doenca" ng-click="selectedTab()">Cadastrar</md-button>
        </md-card-actions>
      </md-card>
</div>

<md-content class="md-padding gridListDynamicTiles" flex layout="column" layout-fill ng-cloak ng-show="pageView">
  <md-grid-list md-cols-xs="2" md-cols-sm="4" md-cols-md="5" md-cols-gt-md="6"
    md-row-height-gt-md="4:3" md-row-height="4:3"
    md-gutter="12px" md-gutter-gt-sm="8px">
    <md-grid-tile ng-repeat="doenca in listadoencas" ng-click="showAdvanced($event, $index)">
      <img data-ng-src="{{doenca.imagem[0]}}" alt="doenca" layout-fill>
      <md-grid-tile-footer layout-nowrap>
        <h3>{{doenca.nome}}</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</md-content>

<md-content class="listItemDynamic" flex layout="column" layout-fill ng-cloak ng-show="!pageView">
  <md-list flex>
    <md-list-item class="md-2-line" ng-repeat="doenca in listadoencas" ng-click="showAdvanced($event, $index)">
      <img class="md-avatar view-img" data-ng-src="{{doenca.imagem[0]}}" alt="planta" layout-fill>
      <div class="md-list-item-text" layout="column">
        <h3>{{doenca.nome}}</h3>
        <p>{{doenca.nomeCientifico}}</p>
      </div>
    </md-list-item>
  </md-list>
</md-content>
